.content__giay {
  margin-top: 14px;
  position: relative;
}

.content__giay .content__giay-item {
  border: 1px solid #cdcdcd;
  padding: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  display: block;
  cursor: pointer;
}

.content__giay .content__giay-item img {
  width: 100%;
}

.content__giay .content__giay-item .content__giay-name {
  margin: 6px 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.content__giay .content__giay-item .content__giay-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__giay .content__giay-item .content__giay-price span {
  font-size: 1.2rem;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .content__giay .content__giay-item .content__giay-price span {
    font-size: 1rem;
  }
}

.content__giay .content__giay-item .content__giay-price .content__giay-price-old {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-shadow: 3px 3px 3px #cdcdcd;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .content__giay .content__giay-item .content__giay-price .content__giay-price-old {
    font-size: 0.6rem;
  }
}

.content__giay .content__giay-item .content__giay-price .content__giay-price-new {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--background-color);
  text-shadow: 3px 3px 3px #cdcdcd;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .content__giay .content__giay-item .content__giay-price .content__giay-price-new {
    font-size: 1rem;
  }
}

.content__giay .content__giay-item .content__giay-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__giay .content__giay-item .content__giay-like p {
  font-size: 1.2rem;
  margin-right: 6px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .content__giay .content__giay-item .content__giay-like p {
    font-size: 1rem;
  }
}

.content__giay .content__giay-item .content__giay-like i {
  padding: 0 1px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .content__giay .content__giay-item .content__giay-like i {
    font-size: 0.8rem;
  }
}

.content__giay .content__giay-item .content__giay-like .content__giay-like--active {
  color: yellowgreen;
}

.content__giay .content__giay-item .content__giay-btn {
  width: 100%;
  text-align: center;
  padding: 8px 0;
}

.content__giay .content__giay-item .content__giay-btn button {
  padding: 8px 12px;
  background-color: var(--background-color);
  color: var(--text-color-white);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.content__giay .content__giay-item .content__giay-btn button:hover {
  background-color: #f17979;
}

.content__giay .content__giay-item .content__giay-item--new {
  position: absolute;
  background-color: var(--background-color);
  top: 9px;
  left: 0px;
  -webkit-transform: rotate(-46deg);
  transform: rotate(-45deg);
}

.content__giay .content__giay-item .content__giay-item--new p {
  color: var(--text-color-white);
  position: relative;
}

.content__giay .content__giay-item .content__giay-item--new ::before {
  content: "";
  position: absolute;
  left: -18px;
  bottom: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid var(--background-color);
  border-right: 9px solid transparent;
  border-left: 9px solid var(--background-color);
  -webkit-transform: rotate(-46deg);
  transform: rotate(-90deg);
}

.content__giay .content__giay-item .content__giay-item--new ::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -18px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid var(--background-color);
  border-right: 9px solid transparent;
  border-left: 9px solid var(--background-color);
  -webkit-transform: rotate(-46deg);
  transform: rotate(0deg);
}

.content__giay .content__giay-item .content__giay-item-saleoff {
  position: absolute;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-color);
  padding: 6px;
  top: -1px;
  right: -1px;
  border-bottom-left-radius: 2px;
}

.content__giay .content__giay-item .content__giay-item-saleoff .saletext {
  color: var(--text-color-white);
  font-size: 0.8rem;
}

.content__giay .content__giay-item .content__giay-item-saleoff .salenumber {
  color: var(--text-color-white);
  font-size: 1.4rem;
}

.content__giay .content__giay-item:hover {
  -webkit-box-shadow: 2px 0px 5px #cdcdcd;
          box-shadow: 2px 0px 5px #cdcdcd;
  -webkit-transform: scale(1.014);
          transform: scale(1.014);
}
/*# sourceMappingURL=cssitem.css.map */